* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #DFDFDF;
    font-family: 'Titillium Web', sans-serif;
    

}

div.topNavigation {
    background-color: #c8bbbb;
    height: 8vw;
    width: 100%;
    position: sticky;
    top: 1px;
    opacity: 70%;
    



}

div.logo {

    width: 10%;
    height: 100%;
    float: left;
}

div.options {

    width: 70%;
    height: 100%;
    float: left;
    font-family: 'Sevillana', cursive;
    font-size: 2.5vw;
    position: relative;
    top: 2.5vw;
    left: 5vw;


}

div.option {
    float: left;
    margin-left: 6vw;
    
    
    
}

div.navButtons {
    width: 20%;
    height: 90%;
    float: left;
}

div.button {
    float: left;
    width: 25%;
    height: 60%;


}

.button {
    background-color: #A0AEA9;
    border: none;
    color: white;
    padding: 0.8vw 1.5vw;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-top: 0.58vw;
    margin-left: 2vw;
    cursor: pointer;
    margin-top: 2.9vw;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}



div.heading {
    color: #000;


    text-align: center;

    font-size: 5vw;
}

#menu div {
    float: left;
    width: 33%;
    margin-left: 0.2vw;

    padding-left: 1vw;
    border: 0.1vw solid black;
    
    font-size: 1.25vw;
}

.contact {
    clear: left;
    
    font-size: 1.25vw;
    text-align: center;
}

span {
    color: rgb(151, 91, 48);
}

.pannaCotta {
    background-color: #FAEDCB;
    height: 100vw;
}

.tofu {
    background-color: #F7D9C4;
}

.cake {
    background-color: #dab894;
}

.price {
    float: right;
    padding-right: 1vw;
}